.contain-the-rodcols {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: pink;
    border: solid;
}

.rods {
    border: solid; 
    background: lightskyblue;
    /* width: 50px;
    display: inline-block;
    margin: 10px; */
}

.rodcol {
    width: 60px;
    margin: 10px;
    /* display: inline-block; */
    display: flex;
    flex-direction: column-reverse;
    background: lightgray;
}

.disk {
    border: solid;
}

#c {
    width: 45px;
}

#b {
    width: 30px;
}

#a {
    width: 20px;
}

.rodcol1 {
    margin-left: 
}