.contain-the-rodcols {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: pink;
    border: solid;
    height: 300px;
    justify-content: center;
}

.rodcol {
    width: 120px;
    margin: 20px;
    /* display: inline-block; */
    display: flex;
    flex-direction: column-reverse;
    background: lightgray;
    align-items: center;
}

.rods {
    border: solid; 
    background: lightskyblue;
    width: 90px;
    /* width: 50px;
    display: inline-block;
    margin: 10px; */
}

.disk {
    border: solid;
}

#c {
    width: 80px;
}

#b {
    width: 60px;
}

#a {
    width: 40px;
}

.rodcol1 {
    margin-left: 
}